@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* font-family: 'Noto Sans', sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #f5f5f5;
}

.section {
  @apply py-6 lg:px-12 lg:py-20;
}
